 <md-card *ngIf="movieDetails">
  <md-card-header>
    <md-card-title>
      <h2>
      <span>{{ movieDetails.Title }}</span>
      <span>({{movieDetails.Year}})</span>
      </h2>
    </md-card-title>
    <md-card-subtitle>
      <span>{{ movieDetails.Runtime }}</span>|
      <span>{{ movieDetails.Genre }}</span>|
      <span>{{ movieDetails.Released }}</span>
    </md-card-subtitle>
  </md-card-header>
  <img md-card-image src="{{ movieDetails.Poster }}">
  <md-card-content>
    <p>
      {{ movieDetails.Plot }}
    </p>
    <p>
      <span>Directors: </span> {{ movieDetails.Director}}
    </p>
    <p>
      <span>Writers: </span> {{ movieDetails.Writer}}
    </p>
    <p>
      <span>Stars: </span> {{ movieDetails.Actors}}
    </p>
  </md-card-content>
  <md-card-actions>
    <button md-button >Add</button>
    <button md-button (click)="goBack()">Back</button>
  </md-card-actions>
</md-card>
